* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web {
    background-color: #fff4f4;
}

.header {
    height: 120px;
    background-color: #dc3545;
}

.header_nav {
    position: relative;
    display: flex;
    justify-content: end;
    margin-right: 100px;
    height: 30px;
}

.header_nav_ul_li {
    display: inline;
    color: white;
    font-size: 1rem;
    padding: 0 5px 0 5px;
}

.header_nav_ul_li a {
    text-decoration: none;
    color: white;
}

.header_nav_ul_li a:hover {
    color: #fff3;
    text-decoration: none;
}

.header_bottom {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_logo {
    height: 100px;
    margin-bottom: 40px;
}

.search_box {
    position: relative;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    width: 70%;
    margin: 0 5% 0 1%;
}

.search_box input {
    border: none;
    outline: none;
    background: none;
    width: 95%;
    padding: 10px 0px 10px 15px;
}

.btn_search {
    position: absolute;
    right: 8px;
    top: 6px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    padding: 2px 15px;
    border: none;
}

.icon_cart {
    font-size: 2.1rem;
    color: #fff;
}

.slideshow {
    height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


.slideshow_left {
    width: 870px;
    height: 270px;
    margin-right: 5px;
    position: relative;
    margin-left: 30px;
}


.mySlides {
    display: none;
}


.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active,
.dot:hover {
    background-color: #717171;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 47%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.img_right {
    width: 428px;
    height: 270px;
}

.img_right_top {
    margin-bottom: 5px;
}





.container-fluid {
    background-color: #fff4f4;
    padding: 20px 0 20px 0;
}

.container_category {
    width: 1310px;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    margin-left: 95px;
}

.category {
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category_div {
    padding-top: 15px;
    text-align: center;
}

.category_ul {
    width: 150px;
}

.category_li {
    list-style-type: none;
}

.category_li a {
    text-decoration: none;
    color: #000;
}

.container_product_new {
    margin-top: 20px;
    width: 1310px;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    margin-left: 95px;
}

.product_new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
}

.card a {
    text-decoration: none;
}

.card a {
    color: #000;
}

.card a h5 {
    font-weight: bold;
    color: red;
}

.container_product_sale {
    margin-top: 20px;
    width: 1310px;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    margin-left: 95px;
}

.product_sale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card a .price_sale {
    text-decoration: line-through;
    opacity: 50%;
}

.footer_footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 20px 0;
    background-color: #fff;
}



.iaSrUz ul li {
    list-style-type: none;
    margin: 3px;

}

.iaSrUz ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.JfFnLR li {
    text-align: center;
    width: 60px;
    background-color: #fef6f5;
    border-radius: 3px;
}

ul li a:hover {
    color: #dc3545;
}

.mzvsTT {
    font-weight: bold;
    font-size: 13px;
}

.JfFnLR {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}



.footer_copyright {
    padding: 20px 100px 10px 200px;
    background-color: #fff4f4;
}

.img {
    border-radius: 3px;
}

.content {
    margin-left: 20px;
}